/* search classes in index.html and link the classes from css for proper understanding*/

#search {
    width: 90px;
    height: 35px;
    float: right;
}



.navbar {
    background-color: lightgray;
}

.btn {
    background-color: black;
}
.navbar-center {
    width: 100%;
    text-align: center;
}

.sliding-nav {
    background-color: #D3D3D3;
    position: fixed;
    top: -50px;
    width: 100%;
    transition: top 0.3s;
    z-index: 1000;
}

.sliding-nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
}

.sliding-nav a:hover {
    background-color: #ddd;
    color: black;
}

.sliding-nav.show {
    top: 0;
}


#social {
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#slideshow {
    float: left;
    width: 100%;
    height: 0%; /* Maintain aspect ratio */
    margin: auto;
    padding: 0;
    border: none;
    margin-top: 75px;
    background-color: ghostwhite;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

#tagline {
	float:left;
	width:100%;
	height:auto;
	background-color:white;
	text-align:center;
    margin-bottom: 0;
}


}
.col-md-5 {
   float: left;
    width: 50%;
}

.col-md-6 {
   float: left;
    width: 50%;
}

.col-md-7 {
   float: left;
   width: 50%; /* You can adjust this value as needed */
}

.col-md-8 {
   float: left;
    width: 50%;
}

 #slideshow {
            margin-bottom: 30px; /* Adjust the value as needed */
        }



h2 {
    color: black;
}

h3 {
    color: black;
}
@media only screen and (max-width: 1024px) {
    h1 {
        font-size: 40px;
        font-family: sans-serif;
        font-weight: 500;
        color: black;
        line-height: 1.3em;
    }

    h2 {
        font-size: 25px;
        font-family: sans-serif;
        color: black;
        font-weight: 500;
        line-height: 1.2em;
    }

    h3 {
        font-size: 20px;
        font-family: sans-serif;
        color: black;
        font-weight: 500;
        line-height: 1.2em;
    }
   
 p {
        font-size: 12px;
        font-family: sans-serif;
        color: black;
        line-height: 2em;
        
    }
    .taglineheading {
    font-size: 32px;
    font-family: sans-serif;
    color: black;
    line-height: 1.2em;
    padding: 10px;
}
}

@media only screen and (max-width: 600px) {
    .slideshow-image {
        width: 100%; /* 100% width on smaller screens */
    }
    h1 {
        font-size: 28px;
        font-family: sans-serif;
        color: black;
        line-height: 1.3em;
    }
}

    @media only screen and (max-width: 600px) {
    .img-comp-container {
        width:auto;
        height: auto; /* Change the height to auto for smaller screens */
    }
    
    .img-comp-img {
        width: 300; /* Make the image width 100% on smaller screens */
        height: auto; /* Allow the height to adjust automatically */
    }

    .img-comp-img img {
        width: 30%; /* Make the image width 100% on smaller screens */
        height: auto; /* Allow the height to adjust automatically */
    }

    .img-comp-slider {
         display: block;
        width: 20px;
        height: 20px;
        background-color: black;
        opacity: 0.7;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);; /* Optionally hide the slider on smaller screens */
    }
        h1 {
        font-size: 40px;
        font-family: sans-serif;
        font-weight: 500;
        color: black;
        line-height: 1.3em;
    }

    h2 {
        font-size: 25px;
        font-family: sans-serif;
        color: black;
        font-weight: 500;
        line-height: 1.2em;
    }

    h3 {
        font-size: 20px;
        font-family: sans-serif;
        color: black;
        font-weight: 500;
        line-height: 1.2em;
    }
   
 p {
        font-size: 12px;
        font-family: sans-serif;
        color: black;
        line-height: 2em;
        
    }
    .taglineheading {
    font-size: 32px;
    font-family: sans-serif;
    color: black;
    line-height: 1.2em;
    padding: 10px;
}
}

@media only screen and (max-width: 1024px){
     .img-comp-container {
         width:auto;
        height: auto; /* Change the height to auto for smaller screens */
    }
    
    .img-comp-img {
        width: 150%; /* Make the image width 100% on smaller screens */
        height: auto; /* Allow the height to adjust automatically */
    }

    .img-comp-img img {
        width: 50%; /* Make the image width 100% on smaller screens */
        height: auto; /* Allow the height to adjust automatically */
    }

    .img-comp-slider {
         display: block;
        width: 20px;
        height: 20px;
        background-color: black;
        opacity: 0.7;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);; /* Optionally hide the slider on smaller screens */
    }
    
}